body{
    margin-bottom: 500px;
}

main{
    display: flex;
    flex-direction: column;
    margin: 5px;
    gap: 20px;
}

.container {
    border: 2px solid;
    padding: 10px;
}

.agee {
    display: flex;
}

.agee .left, .right{
    padding: 10px;
    flex: 1;
    border: 2px solid;
    margin: 10px;
}

.calc {
    display: flex;
}

.calc .right{
    height: 80px;
    align-self: center;
}

.form2{
    display: flex;
}

.right span{
    font-weight: bold;
    font-style: italic;
    text-decoration:underline;
}

fieldset{
    margin: 20px 5px;
}

input[readonly] {
    border: 2px solid red;
}

input[readonly]:focus{
    border: 2px solid red;
    outline: none;
    background-color: #ffe7e7;
}

/* DARK MODE TOGGLE */

:root {
    --bg-color: #ffffff;
    --text-color: #222222;
}

.dark-mode {
    --bg-color: #1e1e1e;
    --text-color: #f1f1f1;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}