* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.card-container {
  width: 100%;
}

.card-container h2 {
  margin-bottom: 1em;
}

.card {
  width: 500px;
  padding: 1em;
  background-color: white;
  border: 2px solid #333;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

.card h4 {
  margin-top: 0;
  color: #666;
}

button{
    padding: 17px 30px;
    font-size: 15px;
}

.answers-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.answers {
  display: grid;
  grid-template-columns: repeat(2, 150px);
  gap: 20px;
  justify-content: center;
}

.answers div {
  background-color: #fff;
  border: 1px solid #333;
  padding: 1rem;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}
